<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>home</title>
  <link rel="stylesheet" href="home.css">
</head>

<body>
  <h1>Welcome to the secured page</h1>
  <button class="logout-btn"><a href="/logout">Logout</a> </button>
</body>

</html>